Repository apache/thrift, pull requests merged in 2023-09, with the labels that each got.

#2852 THRIFT-5734 generated code may lack required capitalization at class names
  compiler/cpp/src/thrift/generate/t_haxe_generator.cc
Labels: haxe

#2853 fix: fix golang NewTSocketConf comment error
  lib/go/thrift/socket.go
Labels: golang

#2855 THRIFT-5738: Unused variable fails mac builds
  compiler/cpp/src/thrift/generate/t_java_generator.cc
Labels: java
