Repository apache/thrift, pull requests merged in 2023-12, with the labels that each got.

#2886 Github Actions: Remove --disable-tests
  .github/workflows/build.yml
  lib/go/test/fuzz/Makefile.am
  lib/go/test/fuzz/fuzz.go
  lib/go/test/fuzz/go.mod
  lib/go/test/fuzz/go.sum
Labels: ci, golang, github_actions

#2901 THRIFT-5749 Option to enable RTTI info
  compiler/cpp/src/thrift/generate/t_delphi_generator.cc
  lib/delphi/src/Thrift.Protocol.pas
Labels: delphi

#2902 FIX: Unused import Map
  lib/haxe/src/org/apache/thrift/helper/IntSet.hx
  lib/haxe/src/org/apache/thrift/helper/StringSet.hx
Labels: haxe

#2903 THRIFT-5749 Option to enable RTTI info (2nd attempt)
  compiler/cpp/src/thrift/generate/t_delphi_generator.cc
  lib/delphi/src/Thrift.Protocol.pas
  lib/delphi/test/serializer/TestSerializer.dproj
  lib/delphi/test/server.dproj
  lib/delphi/test/skip/skiptest_version2.dproj
Labels: delphi
