Repository apache/thrift, pull requests merged in 2024-10, with the labels that each got.

#3052 THRIFT-5824 Migrate, refactor and improve Delphi code generation test script
  .gitignore
  lib/delphi/test/codegen/README.md
  lib/delphi/test/codegen/run-Pascal-Codegen-Tests.bat.tmpl
  lib/delphi/test/codegen/run-Pascal-Codegen-Tests.ps1
Labels: delphi

#3053 THRIFT-5825 UUID constants lead to uncompileable Delphi code
  compiler/cpp/src/thrift/generate/t_delphi_generator.cc
  lib/delphi/test/codegen/run-Pascal-Codegen-Tests.ps1
Labels: delphi

#3054 THRIFT-5826 binary constants create uncompilable Delphi code
  compiler/cpp/src/thrift/generate/t_delphi_generator.cc
  lib/delphi/test/codegen/run-Pascal-Codegen-Tests.ps1
Labels: delphi

#3050 Make ssl work with python 3.12
  lib/py/src/transport/TSSLSocket.py
Labels: python

#3049 THRIFT-5821: support building against AWS-LC
  build/cmake/DefineOptions.cmake
  lib/cpp/src/thrift/transport/TSSLSocket.cpp
Labels: c++

#3056 THRIFT-5827 enums in typedefs are not resolved in all cases
  compiler/cpp/src/thrift/generate/t_delphi_generator.cc
  lib/delphi/test/codegen/run-Pascal-Codegen-Tests.ps1
Labels: delphi
