Repository apache/thrift, pull requests merged in 2024-01, with the labels that each got.

#2914 Fix github actions for python3 tests
  lib/py/test/test_sslsocket.py
Labels: python

#2915 Bump upload/download-artifacts from v3 to v4
  .github/workflows/build.yml
Labels: github_actions

#2918 Revert "Bump upload/download-artifacts from v3 to v4"
  .github/workflows/build.yml
Labels: github_actions

#2920 THRIFT-5754: Fix PHP 8.1 deprecates passing null to non-nullable internal function parameters
  lib/php/lib/Protocol/TJSONProtocol.php
  lib/php/lib/StringFunc/Core.php
  lib/php/lib/StringFunc/Mbstring.php
  lib/php/lib/TMultiplexedProcessor.php
  lib/php/src/TStringUtils.php
Labels: php

#2919 THRIFT-5753: PHP 8.1 deprecated warning about return type in jsonSerialize functions
  compiler/cpp/src/thrift/generate/t_php_generator.cc
Labels: php

#2921 THRIFT-5750 deprecate "ansistr_binary_" option
  compiler/cpp/src/thrift/generate/t_delphi_generator.cc
Labels: delphi

#2922 Fix ambigous typescript definitions
  compiler/cpp/src/thrift/generate/t_js_generator.cc
Labels: typescript
