Repository apache/thrift, pull requests merged in 2024-03, with the labels that each got.

#2939 THRIFT-5762 Expose service result objects in Java
  compiler/cpp/src/thrift/generate/t_java_generator.cc
  lib/java/src/main/java/org/apache/thrift/AsyncProcessFunction.java
  lib/java/src/main/java/org/apache/thrift/ProcessFunction.java
  lib/java/src/main/java/org/apache/thrift/TBaseAsyncProcessor.java
  lib/java/src/main/java/org/apache/thrift/TBaseProcessor.java
  lib/java/src/main/java/org/apache/thrift/server/TSaslNonblockingServer.java
Labels: java

#2755 THRIFT-5682: Move default constructor and operator== implementation to CPP file
  compiler/cpp/src/thrift/generate/t_cpp_generator.cc
Labels: c++

#2655 Qt5 targets are not listed in the generated cmake config file
  build/cmake/ThriftConfig.cmake.in
Labels: ci

#2942 THRIFT-5757 Unit tests for php lib
  .github/workflows/build.yml
  composer.json
  lib/php/lib/Transport/TBufferedTransport.php
  lib/php/lib/Transport/TCurlClient.php
  lib/php/lib/Transport/THttpClient.php
  lib/php/lib/Transport/TMemoryBuffer.php
  lib/php/lib/Transport/TPhpStream.php
  lib/php/lib/Transport/TSSLSocket.php
  lib/php/lib/Transport/TSocket.php
  lib/php/lib/Transport/TSocketPool.php
  lib/php/phpunit.xml
  lib/php/test/Fixtures/Fixtures.php
  lib/php/test/Fixtures/TJSONProtocolFixtures.php
  lib/php/test/Fixtures/TSimpleJSONProtocolFixtures.php
  lib/php/test/Unit/Lib/ClassLoader/Fixtures/A/TestClass.php
  lib/php/test/Unit/Lib/ClassLoader/Fixtures/B/TestClass.php
  lib/php/test/Unit/Lib/ClassLoader/Fixtures/C/TestClass.php
  lib/php/test/Unit/Lib/ClassLoader/Fixtures/D/TestClass.php
  lib/php/test/Unit/Lib/ClassLoader/Fixtures/E/TestClass.php
  lib/php/test/Unit/Lib/ClassLoader/ThriftClassLoaderTest.php
  lib/php/test/Unit/Lib/Factory/TBinaryProtocolFactoryTest.php
  lib/php/test/Unit/Lib/Factory/TCompactProtocolFactoryTest.php
  lib/php/test/Unit/Lib/Factory/TFramedTransportFactoryTest.php
  lib/php/test/Unit/Lib/Factory/TJSONProtocolFactoryTest.php
  lib/php/test/Unit/Lib/Factory/TStringFuncFactoryTest.php
  lib/php/test/Unit/Lib/Factory/TTransportFactoryTest.php
  lib/php/test/Unit/Lib/Transport/TBufferedTransportTest.php
  lib/php/test/Unit/Lib/Transport/TCurlClientTest.php
  lib/php/test/Unit/Lib/Transport/TFramedTransportTest.php
  lib/php/test/Unit/Lib/Transport/THttpClientTest.php
  lib/php/test/Unit/Lib/Transport/TMemoryBufferTest.php
  lib/php/test/Unit/Lib/Transport/TNullTransportTest.php
  lib/php/test/Unit/Lib/Transport/TPhpStreamTest.php
  lib/php/test/Unit/Lib/Transport/TSSLSocketTest.php
  lib/php/test/Unit/Lib/Transport/TSocketPoolTest.php
  lib/php/test/Unit/Lib/Transport/TSocketTest.php
Labels: php

#2948 THRIFT-5769: fix invalid size error on large messages
  lib/nodejs/lib/thrift/framed_transport.js
  lib/nodejs/test/header.test.js
  lib/nodejs/test/testAll.sh
Labels: nodejs

#2946 THRIFT-5767: Go Simple JSON Protocol re-allocates memory for every escaped quote
  lib/go/test/Makefile.am
  lib/go/test/StringParseAllocationTest.thrift
  lib/go/test/tests/string_parse_allocation_test.go
  lib/go/thrift/simple_json_protocol.go
Labels: golang

#2947 THRIFT-5768 Add missing test in configure.ac for kotlin
  configure.ac
Labels: java, kotlin

#2945 THRIFT-5762 Fix spotless errors
  compiler/cpp/src/thrift/generate/t_kotlin_generator.cc
  lib/java/src/main/java/org/apache/thrift/ProcessFunction.java
  lib/java/src/main/java/org/apache/thrift/TBaseAsyncProcessor.java
  lib/java/src/main/java/org/apache/thrift/TBaseProcessor.java
Labels: java, kotlin
