Repository apache/thrift, pull requests merged in 2024-02, with the labels that each got.

#2882 THRIFT-5744: Switch to slog for go library
  .github/workflows/build.yml
  LANGUAGES.md
  go.mod
  lib/go/test/fuzz/go.mod
  lib/go/test/go.mod
  lib/go/thrift/debug_protocol.go
  lib/go/thrift/logger.go
  lib/go/thrift/simple_server.go
  test/go/go.mod
  test/go/go.sum
Labels: golang

#2884 THRIFT-5745: Implement slog.LogValuer on go TStructs
  compiler/cpp/src/thrift/generate/t_go_generator.cc
  lib/go/test/tests/slog_tstruct_wrapper_test.go
  lib/go/thrift/slog.go
  lib/go/thrift/slog_test.go
Labels: golang

#2928 THRIFT-5688: Add PyPI publishing github actions
  .github/workflows/pypi.yml
Labels: python, github_actions

#2931 THRIFT-5688: Add PyPI publishing github actions
  .github/workflows/pypi.yml
Labels: python, github_actions

#2933 Add license header to pypi workflow file
  .github/workflows/pypi.yml
Labels: github_actions

#2936 THRIFT-5760 Update minimal version of php
  .github/workflows/build.yml
  composer.json
  doc/install/README.md
  lib/php/README.md
  lib/php/test/Unit/BinarySerializerTest.php
  lib/php/test/Unit/JsonSerializeTest.php
  lib/php/test/Unit/TJSONProtocolTest.php
  lib/php/test/Unit/TSimpleJSONProtocolTest.php
  lib/php/test/Unit/ValidatorTest.php
  lib/php/test/Unit/ValidatorTestOop.php
Labels: php

#2935 THRIFT-5758 PHP 8.2 Deprecate dynamic properties
  .github/workflows/build.yml
  lib/php/lib/Base/TBase.php
  lib/php/lib/Exception/TException.php
  lib/php/src/Thrift.php
  lib/php/test/Unit/Lib/Exception/TExceptionTest.php
Labels: php

#2879 Fix: fix python readMessageBegin return value type error
  lib/py/src/protocol/TBinaryProtocol.py
  lib/py/test/thrift_TBinaryProtocol.py
Labels: python

#2938 THRIFT-5761 Lib/json tests fail
  lib/json/schema.json
Labels: json
