Repository apache/thrift, pull requests merged in 2025-02, with the labels that each got.

#3098 THRIFT-5852 Promote known total stream sizes for seekable stream transports
  lib/netstd/Thrift/Protocol/TBinaryProtocol.cs
  lib/netstd/Thrift/Protocol/TCompactProtocol.cs
  lib/netstd/Thrift/Protocol/TJSONProtocol.cs
  lib/netstd/Thrift/Protocol/TProtocolDecorator.cs
  lib/netstd/Thrift/Transport/Client/THttpTransport.cs
  lib/netstd/Thrift/Transport/Client/TMemoryBufferTransport.cs
  lib/netstd/Thrift/Transport/Client/TNamedPipeTransport.cs
  lib/netstd/Thrift/Transport/Client/TStreamTransport.cs
  lib/netstd/Thrift/Transport/Layered/TBufferedTransport.cs
  lib/netstd/Thrift/Transport/Layered/TFramedTransport.cs
  lib/netstd/Thrift/Transport/Layered/TLayeredTransport.cs
  lib/netstd/Thrift/Transport/Server/TNamedPipeServerTransport.cs
  lib/netstd/Thrift/Transport/TEndpointTransport.cs
  lib/netstd/Thrift/Transport/TTransport.cs
Labels: c#

#3097 THRIFT-5848: Expose InputBufferUnderrunError in nodejs client
  lib/nodejs/lib/thrift/browser.js
  lib/nodejs/lib/thrift/index.js
  lib/nodejs/test/exceptions.js
Labels: nodejs

#3101 Update supported go versions
  .github/workflows/build.yml
  LANGUAGES.md
  go.mod
  lib/go/test/fuzz/go.mod
  lib/go/test/go.mod
  test/go/go.mod
Labels: golang, github_actions

#3089 THRIFT-5564: Add nodets tests to Github Actions
  .github/workflows/build.yml
Labels: build and general CI, nodejs

#3037 THRIFT-5637: Add `no_constructors` option to C++ compiler
  compiler/cpp/src/thrift/generate/t_cpp_generator.cc
Labels: c++

#3088 test/crossrunner: merge in old Py2vs3 compat.py
  test/crossrunner/compat.py
  test/crossrunner/report.py
  test/crossrunner/run.py
  test/crossrunner/test.py
Labels: python

#2725 THRIFT-5667: Make ThriftConfig.cmake relocatable
  build/cmake/GenerateConfigModule.cmake
  build/cmake/ThriftConfig.cmake.in
Labels: build and general CI
